
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/works">Works</a>
        <a href="/gallery">Gallery</a>
    </nav>
    <h1>About Page</h1>
    <p>Mohamed Salah Hamed Mahrous Ghaly (Arabic: محمد صلاح حامد محروس غالي, <br/>
        born 15 June 1992), <br/>
        also known as Mo Salah, is an Egyptian professional footballer who plays <br/>
        as a forward for Premier League club Liverpool and captains the Egypt national team. <br/>
        Considered one of the best players in the world and amongst the greatest African <br/>
        players of all time, he is known for his finishing, dribbling, and speed.[8][9]</p>
</body>

<img src="salah_about.jpg" alt="salah_about">
</html>