<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gallery</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body >
    <nav>
        <a href="/">Home</a>
        <a href="/works">Works</a>
        <a href="/about">About</a>
    </nav>
    <br>
        <div id="gallery">
            <img src="salah1.jpeg" alt="salah_1">
            <img src="salah2.jpeg" alt="salah_2">
            <img src="salah3.avif" alt="salah_3">
            <img src="salah4.jpeg" alt="salah_4">
            <img src="salah5.jpeg" alt="salah_5">
            <img src="salah6.jpeg" alt="salah_6">
            <img src="salah7.jpeg" alt="salah_7">
            <img src="salah8.avif" alt="salah_8">
            <img src="salah9.jpeg" alt="salah_9">
            <img src="salah10.jpeg" alt="salah_10">
        </div>
</body>
</html>