<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works page</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/gallery">Gallery</a>
    </nav>
    <h1>Works Page</h1>
    <h2>Club: Liverpool</h2>
    <p>UEFA Champions League: 2018–19;<br/>
        runner-up: 2017–18 <br/>
        Premier League: 2019-20</p>

    <img src="salah-trophy.jpeg" alt="salah-trophy">
</body>
</html>